<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="~/projecttemp/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/projecttemp/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/projecttemp/css/animate.css" rel="stylesheet">
    <link href="~/projecttemp/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            
            <h3>Giriş Sayfası</h3>
           
            <form class="m-t" role="form" action="/Auth/Login" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Giriş Yap</button>

                <a class="btn btn-sm btn-white btn-block" href="/Auth/Register">Yeni Hesap Oluştur</a>
            </form>
            
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/projecttemp/js/jquery-2.1.1.js"></script>
    <script src="~/projecttemp/js/bootstrap.min.js"></script>

</body>

</html>