<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right"></span>
                <h5>Sistemde Kayıtlı Araba Sayısı</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@Model.CountOfCar</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Sistemde Kayıtlı Kategori Sayısı</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@Model.CountOfCategory</h1>

            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">Bu Ay Toplam</span>
                <h5>Toplam Kiralama Talebi</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@Model.CountOfRent</h1>

            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Toplam Yorum Sayısı</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@Model.CountOfComment</h1>

            </div>
        </div>
    </div>

</div>