<nav class="header-fixed">
    <div class="container">
        <div class="row flex-nowrap align-items-center justify-content-between">
            <div class="col-auto d-block d-xl-none header-fixed-col">
                <div class="main-mnu-btn">
                    <span class="bar bar-1"></span>
                    <span class="bar bar-2"></span>
                    <span class="bar bar-3"></span>
                    <span class="bar bar-4"></span>
                </div>
            </div>
            <div class="col-auto header-fixed-col logo-wrapper">
                <!-- Begin logo -->
                <a href="https://pathsoft.kovalweb.com/" class="logo" title="PathSoft">
                    <img src="/html/assets/img/logo.svg" width="133" height="36" alt="PathSoft">
                </a>
            </div>
            <div class="col-auto col-xl col-static header-fixed-col">
                <div class="row flex-nowrap align-items-center justify-content-end">
                    <div class="col header-fixed-col d-none d-xl-block col-static">
                        <!-- Begin main menu -->
                        <nav class="main-mnu">
                            <ul class="main-mnu-list">
                                <li class="menu-item-has-children">
                                    <a href="index.html" data-title="Anasayfa">
                                        <span>Anasayfa</span>
                                    </a>
                                </li>
                                <li class="mega-menu menu-item-has-children">
                                    <a href="/Vehicle/Index" data-title="Araçlar">
                                        <span>Araçlar</span>
                                        <div>
                                        </div>
                                    </a>

                                </li>
                                <li class="menu-item-has-children main-mnu-item-mega-mnu">
                                    <a href="shop.html" data-title="Popüler Lokasyonlar">
                                        <span>Popüler Lokasyonlar</span>
                                    </a>

                                </li>
                                <li class="mega-menu menu-item-has-children menu-item-6282">
                                    <a href="#!" data-title="Ofislerimiz">
                                        <span>Ofislerimiz</span>
                                    </a>

                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#!" data-title="Blog">
                                        <span>Blog</span>
                                    </a>

                                </li>

                                <li class="menu-item-has-children">
                                    <a href="contacts.html" data-title="Bize Ulaşın">
                                        <span>Bize Ulaşın</span>
                                    </a>

                                </li>
                            </ul>
                        </nav><!-- End main menu -->
                    </div>
                    @* <div class="col-auto header-fixed-col col-static">
                    <!-- Begin header actions -->
                    <ul class="header-actions">
                    <!-- Begin header account -->
                    <li class="d-none d-sm-block">
                    <div class="header-action-icon side-open header-account" data-side=".side-account">
                    <i class="material-icons md-24">login</i>
                    </div>
                    </li><!-- End header account -->
                    <!-- Begin header wishlist -->
                    <li class="d-none d-sm-block">
                    <div class="header-action-icon header-wishlist wishlist_popup_open">
                    <i class="material-icons md-24">favorite_border</i>
                    <span class="ha-count">3</span>
                    </div>
                    </li><!-- End header wishlist -->
                    <!-- Begin header cart -->
                    <li>
                    <div class="header-action-icon side-open header-cart" data-side=".side-cart">
                    <i class="material-icons material-icons-outlined md-22">shopping_cart</i>
                    <span class="ha-count">3</span>
                    </div>
                    </li><!-- End header cart -->
                    <!-- Begin header languarge -->
                    <li class="d-none d-lg-block">
                    <div class="header-lang">
                    <div class="header-lang-current"><i class="material-icons md-22">language</i></div>
                    <ul class="header-lang-list">
                    <li class="active"><a href="#!" class="hover-link" data-lang="En" data-title="English"><span>English</span></a></li>
                    <li><a href="#!" class="hover-link" data-lang="Sp" data-title="Spanish"><span>Spanish</span></a></li>
                    <li><a href="#!" class="hover-link" data-lang="It" data-title="Italian"><span>Italian</span></a></li>
                    <li><a href="#!" class="hover-link" data-lang="Uk" data-title="Ukraine"><span>Ukraine</span></a></li>
                    <li><a href="#!" class="hover-link" data-lang="Ru" data-title="Russian"><span>Russian</span></a></li>
                    </ul>
                    </div>
                    </li><!-- End header languarge -->
                    <!-- Begin header search -->
                    <li>
                    <div class="header-search">
                    <div class="header-action-icon header-search-ico">
                    <i class="material-icons md-22 header-search-ico-search">search</i>
                    <i class="material-icons md-22 header-search-ico-close">close</i>
                    </div>
                    <form action="#!" method="post" class="header-search-form">
                    <div class="container">
                    <div class="row">
                    <div class="col-12">
                    <div class="form-field">
                    <label for="field-search" class="form-field-label">Search...</label>
                    <input type="search" class="form-field-input" name="Search" value="" autocomplete="off" id="field-search">
                    <button type="submit" class="header-search-btn"><i class="material-icons md-22">search</i></button>
                    </div>
                    </div>
                    </div>
                    </div>
                    </form>
                    </div>
                    </li><!-- End header search -->
                    <!-- Begin header navbar -->
                    <li class="d-block d-lg-none">
                    <div class="header-navbar">
                    <div class="header-navbar-btn">
                    <i class="material-icons md-24">more_vert</i>
                    </div>
                    <ul class="header-navbar-content">
                    <li>
                    <ul class="header-actions">
                    <!-- Begin header account -->
                    <li class="d-block d-sm-none">
                    <div class="header-action-icon side-open header-account" data-side=".side-account">
                    <i class="material-icons md-24">login</i>
                    </div>
                    </li><!-- End header account -->
                    <!-- Begin header wishlist -->
                    <li class="d-block d-sm-none">
                    <div class="header-action-icon header-wishlist wishlist_popup_open">
                    <i class="material-icons md-24">favorite_border</i>
                    <span class="ha-count">3</span>
                    </div>
                    </li><!-- End header wishlist -->
                    </ul>
                    </li>
                    <li>
                    <a href="mailto:mail@example.com">
                    <i class="material-icons md-20">mail_outline</i>
                    <span>mail@example.com</span>
                    </a>
                    </li>
                    <li>
                    <a href="mailto:mail@example.com" class="formingHrefTel">
                    <i class="material-icons md-20">support_agent</i>
                    <span>1-888-777-1234</span>
                    </a>
                    </li>
                    <li>
                    <div class="btn-group align-items-center">
                    <a href="#header_modal" class="header-button header_modal_open">
                    <i class="material-icons">ring_volume</i>
                    <span>Callback</span>
                    </a>
                    </div>
                    </li>
                    <li>
                    <!-- Begin widget socials -->
                    <ul class="widget-socials">
                    <li>
                    <a href="#!" title="Facebook">
                    <svg viewBox="0 0 320 512"><use xlink:href="~/html/~/html/assets/img/sprite.svg#facebook-icon"></use></svg>
                    </a>
                    </li>
                    <li>
                    <a href="#!" title="Instagram">
                    <svg viewBox="0 0 448 512"><use xlink:href="~/html/~/html/assets/img/sprite.svg#instagram-icon"></use></svg>
                    </a>
                    </li>
                    <li>
                    <a href="#!" title="LinkedIn">
                    <svg viewBox="0 0 448 512"><use xlink:href="~/html/~/html/assets/img/sprite.svg#linkedin-icon"></use></svg>
                    </a>
                    </li>
                    <li>
                    <a href="#!" title="Twitter">
                    <svg viewBox="0 0 512 512"><use xlink:href="~/html/~/html/assets/img/sprite.svg#twitter-icon"></use></svg>
                    </a>
                    </li>
                    </ul><!-- End widget socials -->
                    </li>
                    </ul>
                    </div>
                    </li><!-- End header navbar -->
                    </ul><!-- End header actions -->
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</nav>