<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/projecttemp/img/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@TempData["NameAndSurname"]</strong>
                            </span> <span class="text-muted text-xs block">@ViewBag.Title <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">Profilim</a></li>
                        <li><a href="mailbox.html">Gelen Kutusu</a></li>
                        <li class="divider"></li>
                        <li><a href="/Auth/Logout">Çıkış</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="active">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Kategori Yönetimi</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="active"><a href="/Category/Index">Kategori Listesi</a></li>
                    <li><a href="/Category/AddCategory">Yeni Kategori Ekle</a></li>
                </ul>
            </li>
            
            
            <li>
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Kullanıcı Yönetimi</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/Auth/Register">Kullanıcı Ekle</a></li>
                    <li><a href="/User/Index">Kullanıcı Listesi</a></li>
                </ul>
            </li>
            
            
            <li>
                <a href="#"><i class="fa fa-taxi"></i> <span class="nav-label">Galeri Yönetimi</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/Gallery/AddGallery">Galeri Ekle</a></li>
                    <li><a href="/Gallery/Index">Galeri Listesi</a></li>
                </ul>
            </li>
           
            <li>
                <a href="#"><i class="fa fa-automobile"></i> <span class="nav-label">Vasıta Yönetimi</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/Car/AddCar">Vasıta Ekle</a></li>
                    <li><a href="/Car/Index">Vasıta Listesi</a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-automobile"></i> <span class="nav-label">Yıl Yönetimi</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/Year/AddYear">Yıl Ekle</a></li>
                    <li><a href="/Year/Index">Yıl Listesi</a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-automobile"></i> <span class="nav-label">Müşteri Yönetimi</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/Customer/AddCustomer">Müşteri Ekle</a></li>
                    <li><a href="/Customer/Index">Müşteri Listesi</a></li>
                </ul>
            </li>

            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a href="#"><i class="fa fa-automobile"></i> <span class="nav-label">Rol Yönetimi</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/Role/AddRole">Rol Ekle</a></li>
                        <li><a href="/Role/Index">Rol Listesi</a></li>
                    </ul>
                </li>
            }
            
        </ul>

    </div>
</nav>